@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  /* width: 5px; */
}

/* ::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 100%);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(30, 100%, 50%);
} */

* {
  -webkit-font-smoothing: antialiased;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  margin: 0 10vw;
  background-color: hsl(180, 100%, 97%);
  overflow-x: hidden;
}

.dark {
  background-color: hsl(200, 100%, 5%);
}