@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 100%);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120, 70%, 40%);
}

* {
  -webkit-font-smoothing: antialiased;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  margin: 0 10vw;
  background-color: hsl(200, 100%, 5%);
  overflow-x: hidden;
}